body{
  background-color: black;
}

.left img{
  position: absolute;
width: 60px;
height: 180px;
left: -10px;
top: 260px;
}

.right img{
  position: absolute;
  width: 60px;
  height: 180px;
  left: 95%;
  top: 260px;
}

h1{
  color: #7A3CBA;
  font-size: 6em;
  text-align: center;
}

table{
  height: 300px;
  width:100%;
  padding-right: 50px;
  padding-left: 50px;
  border-spacing: 15px;
  text-align: center;
  filter: drop-shadow(10px 10px 4px rgba(255, 255, 255, 0.25));
}
